@use "colors";

// Rubik font is imported.
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$main-font: Rubik;

@mixin round-border {
    border: 0;
    border-radius: 5rem;
    padding: 0.2rem 0.5rem;
}

// @mixin card($color) {
//     background: $color;
//     border-radius: 1rem;
//     padding: 1rem 1rem;
// }

* {
    margin: 0;
    padding: 0;
    font-family: $main-font;
}

body { background: colors.$primary-1; }

.list-container, .add-new-list {
    background: colors.$primary-3;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 1rem;

    ul {
        padding-left: 1.5rem;
        margin-left: -1.5rem;        
    }
}
li {
    margin: 0.4rem 0;
    display: flex;
    align-items: center;
    
    span { flex-grow: 1; }
    .delete-button {
        opacity: 0;
        transition: opacity 0.1s linear;
    }

    input {
        @include round-border;
        background: colors.$primary-3;
    }
}

button {
    @include round-border;
    background: colors.$primary-1;
    cursor: pointer;
}
svg, { cursor: pointer; }

.completed { background: #0f0; }